body { 
    font-size: 12px;
}

h5 { 
	font-family: 'Oswald', sans-serif;
	font-size: 120px;
}

h6 { 
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}

username { 
	font-size: 14px;
	font-weight: bold; 
}

description { 
	font-size: 12px;
	font-weight: italic;
	color: #999999;
}

.input-xs {
height: 22px;
padding: 5px 5px;
font-size: 8px;
line-height: 1.5;
border-radius: 3px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

body {
    margin: 30px 0px;
}
.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}